<!-- <p>test works!</p> -->
<main>
  <header>
    <h1>Welcome to front-end-test!</h1>
  </header>
  <div class="test__body">
    <holition-test-image
      [imageUrl]="jsonData?.data.imageUrl"
      [imageAlt]="jsonData?.data.imageAlt"
      [imageTopText]="jsonData?.data.imageTopText"
      [imageBottomText]="jsonData?.data.imageBottomText"
    ></holition-test-image>

    <holition-test-details
      [textSize1]="jsonData?.data.textSize1"
      [textSize2]="jsonData?.data.textSize2"
      [textSize3]="jsonData?.data.textSize3"
    ></holition-test-details>
  </div>
</main>
