<!-- <p>test works!</p> -->
<main>
  <h1>Welcome to front-end-test!</h1>
  <div class="text__body">
    <div class="test_image">
      <img [src]="jsonData?.data.imageUrl" [alt]="jsonData?.data.imageAlt" />
      <p class="image__topText">{{ jsonData?.data.imageTopText }}</p>
      <p class="image__bottomText">{{ jsonData?.data.imageBottomText }}</p>
    </div>

    <div class="test__details">
      <p class="details__textSize1">{{ jsonData?.data.textSize1 }}</p>
      <p class="details__textSize2">{{ jsonData?.data.textSize2 }}</p>
      <p class="details__textSize3">{{ jsonData?.data.textSize3 }}</p>
    </div>
  </div>
</main>
