<!-- <p>test works!</p> -->
<main>
  <h1>Welcome to front-end-test!</h1>
  <div class="text__body">
    <holition-test-image
      [imageUrl]="jsonData?.data.imageUrl"
      [imageAlt]="jsonData?.data.imageAlt"
      [imageTopText]="jsonData?.data.imageTopText"
      [imageBottomText]="jsonData?.data.imageBottomText"
    ></holition-test-image>

    <div class="test__details">
      <p class="details__textSize1">{{ jsonData?.data.textSize1 }}</p>
      <p class="details__textSize2">{{ jsonData?.data.textSize2 }}</p>
      <p class="details__textSize3">{{ jsonData?.data.textSize3 }}</p>
    </div>
  </div>
</main>
